@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Using Tailwind slate palette for a softer dark theme */
    --background: #0f172a; /* slate-900 */
    --foreground: #e2e8f0; /* slate-200 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
